[submodule "Tonomy-Communication"]
	path = Tonomy-Communication
	url = ../Tonomy-Communication.git
	branch = development
[submodule "Tonomy-Contracts"]
	path = Tonomy-Contracts
	url = ../Tonomy-Contracts.git
	branch = development
[submodule "Ethereum-token"]
	path = Ethereum-token
	url = ../Ethereum-token.git
	branch = development
