{
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "*", "release": "patch"}
      ]
    }],
    ["@semantic-release/changelog", {
      "changelogFile": "CHANGELOG.md"
    }],
    "@semantic-release/npm",
    "@semantic-release/git",
    "@semantic-release/github",
    ["@semantic-release/exec", {
      "prepareCmd": "node semantic-release-scripts/tag-format.js"
    }]
  ]
}
