{
  "tagFormat": "${version}",
  "branches": [
    { "name": "master", "prerelease": false },
    { "name": "feature/232-sdk-deployment", "prerelease": true }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",{
        "preset": "angular",
        "releaseRule": [
          {"type": "feat", "release": "minor"},
          {"type": "fix", "release": "patch"},
          {"type": "chore", "release": "patch"},
          {"type": "test", "release": "patch"}

        ]
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    "@semantic-release/npm",
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json",
          "package-lock.json"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}
