{
  "tagFormat": "${version}",
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "*", "release": "patch"}
      ]
    }],
    ["@semantic-release/changelog", {
      "changelogFile": "CHANGELOG.md"
    }],
    "@semantic-release/npm",
    ["@semantic-release/git", {
      "assets": ["CHANGELOG.md", "package.json", "package-lock.json"],
      "message": "chore(release): ${nextRelease.version}"
    }],
    ["@semantic-release/github", {
      "githubToken": "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"
    }]
  ],
  "branches": [
    {
      "name": "feature/232-sdk-deployment",
      "tag": "test"
    },
    {
      "name": "main",
      "tag": "latest"
    }
  ],
  "preset": "no-version"
}
