.tonomy-login-button {
    color: white;
    background-color: #000000;
    border-radius: 1.5rem;
    padding: .85rem 2.5rem;
    border-color: transparent;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.288) 1px 1px 10px;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s ease;
}